@model SocialNetworkFinalProject.ViewModels.Account.SearchViewModel;


<div class="block-reg background-white">
    @if (Model.UserList.Count != 0)
    {
        @foreach (var user in @Model.UserList)
        {
            <div>
                <img class="ava" src="@user.Image" width="150" height="150"/>
            </div>
            <div>
                <label> @user.Status</label>
            </div>
            <div>
                <label>@user.About</label>
            </div>
            <div>
                <label>@user.GetFullName()</label>
            </div>
            @if(!user.IsFriendWithCurrent)
            {
                <form asp-controller="AccountManager" asp-action="AddFriend" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn btn-primary">
                        Добавить в друзья
                    </button>
                </form>
            }
        }

    }
    else
    {
        <div>
            <label>поиск не дал результатов</label>
        </div>
    }    
</div>